<h2><span>Contact</span> Details</h2>
<div class="clr">
</div>
<div class="jqueryAnchor">
   <p>For specific requests, including request for complete CV with references <%= link_to "Contact Me", newrequest_path %></p>
</div>
<div id="accordion-con">
    <h3><a href="#">Correspondence Address</a></h3>
    <div>
        R455, Glen Eyre Hall, Glen Eyre Road, Bassett
        <br/>
        Southampton SO16 3UF, UK
    </div>
	
    <h3><a href="#">Social Profiles</a></h3>
    <div>
    	<div>
    		<a href="http://uk.linkedin.com/in/syamantakmukhopadhyay" >
          <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x25.png" width="160" height="25" border="0" title="View Syamantak Mukhopadhyay's profile on LinkedIn" alt="View Syamantak Mukhopadhyay's profile on LinkedIn">
    </a>
    	</div>
		<br/>
        <div>
        <!-- <a href="http://www.facebook.com/syamantak.mukherjee"><img src="http://dl.dropbox.com/u/13996689/facebook.png" width="20" height="20" alt="Facebook Icon" />Chat</a> -->
		<a href="http://www.facebook.com/syamantak.mukherjee">
		<img src="http://www.buttonshut.com/Facebook-Buttons/Facebook-Buttons-98-44-.png" title="Find Syamantak Mukherjee on Facebook" alt="Find Syamantak Mukherjee on Facebook" height="25" width="234px" border="0"/></a>		
			
        </div>
		<br/>
		<div>
        <a href="http://twitter.com/syamantm" class="twitter-follow-button" data-show-count="false">Follow @syamantm</a>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
        </div>
    </div>	
</div>
