<h2><span>Professional</span> Experience</h2>
<div class="clr">
</div>
<p>
    <b>
    <h3>2006-2010 : Amdocs Dev. Ltd (4 years)</h3>
    <a href="http://www.amdocs.com/Pages/HomePage.aspx">Company Homepage</a>
    </br>
    Location : Cyprus Development Center and India Development Centre </b>
<br/>
<br/>
Throughout my four years at AMDOCS, I was part of the product development group (formally known as PBG) which is the R&D group of Amdocs. Although my basic job role was of a software developer, following are the additional roles/responsibilities that I had-
<ul>
    <li>
        Playing the role of a Scrum Master (Agile scrum methodology).
    </li>
    <li>
        Estimation, Designing.
    </li>
    <li>
        Code & Quality Reviewing.
    </li>
    <li>
        Playing the role of a Focal Point for defect coordination.
    </li>
    <li>
        Coordinating with team members from remote site(Israel , US etc).
    </li>
</ul>
</p>
<p>
    Below are the products that I have worked on 
</p>
<div id="accordion-exp">
	<h3><a href="#">Enterprise Product Catalog</a></h3>
	<div id="epc-exp">
		        
    <a href="http://www.enterpriseproductcatalog.com/">Enterprise Product Catalog</a>
	, as the name suggests, is a product catalog application which is used by clients to define and store catalog data in a centralized place. 
    <br/>
    <b>Technology Used:</b>
    Java, Java EE, Weblogic, Swing, Jgoodies, Eclipse, XSD, XPath, Toad, Oracle 9i/10g.
	<br/><b>Timeline & Location:</b>
	2009 to 2010, Amdocs Dev. Ltd, India 

</div>

<h3><a href="#">Amdocs Ordering & Sales Engine</a></h3>
	<div id="oms-exp">   
    
    <a href="http://www.amdocs.com/Products/Customer-Management/Sales-Ordering/Pages/Ordering.aspx">Amdocs Ordering</a>
    is an <a href="http://en.wikipedia.org/wiki/Order_management_system">Order Management System</a>
    product by Amdocs. Sales Engine is a new product introduced by Amdocs which provides search and recommendation services on product catalog data. 
    <br/>
    <b>Technology Used:</b>
    Java, Hibernate, Weblogic, Spring Framework, Jaxb, Indexing Server (Based on Solr), Eclipse, XSD, XPath, Toad, Oracle 11g, JUnit.
	<br/><b>Timeline & Location:</b>
	2009 to 2010, Amdocs Dev. Ltd, India 
	
</div>

<h3><a href="#">Amdocs Document Designer</a></h3>
	<div id="add-exp">   
    
    <a href="http://www.amdocs.com/Products/Revenue-Management/Billing-Charging/Pages/Document-Designer.aspx">Amdocs Document Designer</a>
    is a complete product, which deals with complete life cycle management of document in Telco and Cable domains. My prime responsibility was to Design the architecture and Develop Front End for Amdocs Document Designer. 
    <br/>
    <b>Technology Used:</b>
    Windows, C#, NUnit, MFC, Toad, Oracle 9i/10g .
	<br/><b>Timeline & Location:</b>
	2006 to 2009, Amdocs Dev. Ltd, Cyprus
</div>
</div>
