<footer>
    <nav class="round">
    	<hr/>
		<p class="lf">
			<table>
				<tr>
					<td>
						<a href="http://uk.linkedin.com/in/syamantakmukhopadhyay"><img src="images/linkedin.png" width="18" height="18" alt="Linkedin Icon" /> Network </a>
					</td>
					<td>
						<a href="http://www.facebook.com/syamantak.mukherjee"><img src="images/facebook.png" width="18" height="18" alt="Facebook Icon" /> Chat </a>
					</td>
					<td>
						<a href="http://www.twitter.com/syamantm"><img src="images/twitter.png" width="18" height="18" alt="Twitter Icon" /> Follow </a>
					</td>
					<td>
						 &copy; Copyright <a href="mailto:syamantak.mukhopadhyay@gmail.com">Syamantak Mukhopadhyay</a>.</p>
					</td>
				</tr>
				
			</table>
		
        
		
      
    </nav>
</footer>
